page-sign-in-up {

  background-image: url(../assets/background-4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .header-section {
    text-align: center;
    background-image: url(../assets/icon/bg-mask.png);
    background-size: 100% 100%;
    background-position: center;

    .logo-wrapper {
      padding: 50px 50px 10px 50px;
    }

  }

  .content {
    background-color: transparent;

    .location-label {
      color: #666;
    }
  }

}
